## Example of using Excel with Python
### Crosstabs in Python

In [2]:
# Impor tlibraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import data

path = r'/Users/peimei/09-2023 Instacart Basket Analysis'
ords_prods_custs = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_customers.pkl'))
ords_prods_custs.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,no_of_days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,first_name,surname,gender,state,age,date_joined,count_dependants,fam_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [4]:
# Create a crosstab

crosstab = pd.crosstab(ords_prods_custs['no_of_days_since_last_order'], ords_prods_custs['order_number'], dropna = False)

In [5]:
# Copy the table to clipboard

crosstab.to_clipboard()

### In the example above, for instance, you could include a screenshot of the Excel table in your report and write something along the lines of “We found missing values in this column but conducted an analysis that revealed them to be fine in context. Please confirm whether our assumption is correct.”

In [11]:
ords_prods_custs.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'no_of_days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'merge_result', 'price_range_loc',
       'busiest day', 'busiest days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'price_mean', 'spending_flag',
       'median_days_since_last_order', 'order_frequency_flag', 'first_name',
       'surname', 'gender', 'state', 'age', 'date_joined', 'count_dependants',
       'fam_status', 'income'],
      dtype='object')